$headerFontSize: 1rem;
$textFontSize: 0.9rem;

:host ::ng-deep {
    .users-table {
        .user-header {
            border-bottom: 1px solid var(--main-text);

            h1 {
                color: var(--main-text);
            }
        }

        .user-img {
            width: 40px;
            height: 40px;
            vertical-align: middle;
            border-radius: 50%
        }

        .filters {
            display: flex;
            align-items: flex-end;

            &:first-child {
                div {
                    width: 100%;
                }
            }

            .input-label {
                margin-bottom: 5px;
                font-size: $headerFontSize;
                line-height: 28px;
                font-weight: 600;
            }
        }

        .p-datatable {
            table {
                width: 100%;
                margin: 0.8rem auto 0;
                border-spacing: 0 1em;
                border-collapse: separate;
                table-layout: auto;
            }

            .p-datatable-header {
                display: flex;
                border: none;
                background: transparent;
                color: var(--main-text);

                p-multiselect {
                    display: block;
                    margin-right: 3.5rem;
                }

                .p-multiselect {
                    border-radius: 17px;

                    .p-multiselect-label {
                        padding: 0.55rem 0.75rem;
                    }

                    .p-multiselect-panel {
                        .p-multiselect-items {
                            &:not(.p-multiselect-virtualscroll) {
                                background: #f8f9fa;
                            }

                            .p-multiselect-item {
                                &.p-highlight {
                                    color: #000;
                                    background: transparent;
                                }
                            }
                        }
                    }
                }

                .p-checkbox {
                    .p-checkbox-box {
                        &.p-highlight {
                            border-color: var(--org-bg);
                            background: var(--org-bg);
                        }
                    }
                }

                .p-inputtext {
                    padding: 0.55rem 0.75rem;
                    border-radius: 17px;
                }

                .p-button {
                    background: var(--org-bg);
                    border: 1px solid var(--org-bg);

                    .p-button-icon {
                        font-size: 20px;
                    }

                    &:enabled {
                        &:hover {
                            border-color: var(--addtion-bg);
                        }
                    }
                }
            }

            .p-datatable-thead {
                &>tr {
                    &>th {
                        border: none;
                        background-color: var(--org-bg);
                        color: #fff;
                    }
                }

                th {
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    &:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }

            .p-datatable-tbody {
                &>tr {
                    box-shadow: 3px 3px 5px #c1c0c0;
                    background: var(--primary-bg);
                    color: var(--secondary-text);

                    &>td {
                        padding: 0.3rem 1rem;
                        border: none;
                    }
                }

                td {
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }

                    &:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575.98px) {
    :host ::ng-deep {
        .users-table {
            .p-datatable {
                .p-datatable-header {
                    flex-direction: column;

                    .p-inputtext {
                        padding: 0.35rem 0.75rem;
                    }

                    .p-column-filter-row {
                        p-columnfilterformelement {
                            width: 100%;
                        }
                    }

                    .p-multiselect {
                        .p-multiselect-label {
                            padding: 0.35rem 0.75rem;
                        }
                    }

                    .p-button.p-button-icon-only {
                        width: 2.5rem;
                        padding: 0.65rem 0;
                    }
                }

                .p-datatable-tbody {
                    &>tr {
                        &>td {
                            font-size: 0.8rem;
                        }
                    }

                    .ui-column-title {
                        font-weight: 700;
                    }
                }
            }

            .filters {
                .input-label {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    :host ::ng-deep {
        .users-table {
            .p-datatable {
                .p-datatable-header {
                    flex-direction: column;

                    .p-multiselect {
                        width: 38vw;
                    }
                }

                .p-datatable-tbody {
                    &>tr {
                        &>td {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 991.98px) {
    :host ::ng-deep {
        .users-table {
            .p-datatable {
                .p-datatable-thead {
                    &>tr {
                        &>th {
                            padding: 0rem 1rem;
                        }
                    }
                }
            }
        }
    }
}