<p-toast position="top-right"></p-toast>
<div class="users-table">
    <div class="user-header">
        <h1>New Users</h1>
    </div>
    <p-table [value]="users" [loading]="loading" responsiveLayout="stack" [columns]="selectedCols">
        <ng-template pTemplate="caption">
            <div class="filters">
                <div>
                    <label class="input-label">Filter By Gender</label>
                    <p-columnFilter type="text" field="gender"></p-columnFilter>
                </div>
                <div>
                    <label class="input-label">Filter By Nationality</label>
                    <p-columnFilter type="text" field="nationality"></p-columnFilter>
                </div>
            </div>
            <div class="filters">
                <div>
                    <label class="input-label">Toggle Columns</label>
                    <p-multiSelect [options]="cols" [(ngModel)]="selectedCols" optionLabel="header"
                        selectedItemsLabel="{0} columns selected" [style]="{minWidth: '200px'}"
                        placeholder="Choose Columns"></p-multiSelect>
                </div>
                <div class="flex export-btn">
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="mr-2"
                        pTooltip="XLS" tooltipPosition="bottom"></button>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th></th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user let-columns="columns">
            <tr>
                <td><img class="user-img" [src]="user.img"></td>

                <td *ngFor="let col of columns">
                    <span class="p-column-title">{{col.field}}:</span>
                    <div class="overflow_dots">
                        {{user[col.field]}}
                    </div>
                </td>
            </tr>
        </ng-template>
        <ng-template *ngIf="users.length === 0" pTemplate="summary">
            There are no users
        </ng-template>
    </p-table>
</div>